nav ul {
    text-align:right;
    }
  nav>ul>li{
      display:inline-block;
    }
  nav>ul>li>a{
  padding: 10px;
  margin-right: 0;
  text-decoration: none;
  display: block;
  color:white;
  }
 p{ 
     font-family: Arial, Helvetica, sans-serif;
     color:black ;
            
 }
 h1{
     font-family: 'Times New Roman', Times, serif;
     font-style: italic;
     font-weight: 900px;
     font-size: xx-large;
 }
 .services{
     display: flex;
     justify-content:space-around ;
     margin-left: auto;
 }
 .services img{
     width: 400px;
     height: 300px;
 }
 .intro{
    justify-content: space-around;
     display: flex;
 }
 .funs{
     display: flex;
     justify-content: space-around;
 }
 .funs img{
     width: 400px;
     height: 300px;
 }
.intro>p {
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     text-align: center;
     font-size: x-large;
     position: relative;
}
.reach img{
    width: 100px;
    height: 60px;
}
.reach {
    flex-direction: row;
}
#intro{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/mall.jpg) center/cover no-repeat;
    height: 70vh;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;

}
.email{
    color: white;
}
.phone{
    color: white;
}
.email .phone{
    display: flex;
}
.content{
    text-align: center;
}
.logo img{
    width: 50px;
    height: 50px;
}
header{
    background-color: black;
    color: white;
    padding: 10px;
    align-items: center;
    display: flex;
}
header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.intro p{
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    margin-top: 100px;
}